* {
    padding: 0;
    margin: 0;
  }
  
body {
    background: #114357; 
    background: -webkit-linear-gradient(to right, #F29492, #114357);  
    background: linear-gradient(to right, #F29492, #114357);
    color: #fff;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

#header, #navbar, #body, #footer {
    background-color: rgba(0, 0, 0, .5);
}

#header {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 400%;
    padding: 1%;
    margin-bottom: 2%;
}

#navbar {
    margin: 0;
    padding: 0;
    width: 20%;
    float: left;
    margin-right: 2%;
    height: 420px;
}

#body {
    float: right;
    width: 76%;
    margin-right: 2%;
    height: 420px;
}

#footer {
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
    font-size: 120%;
    padding: 0.5%;
}

li {
    list-style: none;
    display: block;
    margin: 5%;
    padding: 5%;
    font-size: 200%;
    border-bottom: 0.5px solid #fff;
}

a:link,:visited {
    color: white;
    text-decoration: none;
}

a li:hover {
    background: rgb(216, 133, 131);
}
